*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #F3F4F6;
    font-family: sans-serif;
    position: relative;
}



header{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #6366F1
}

header h1{
    color: #F3F4F6
}





button{
    border: none;
    background-color: #ec4899;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 10px;
    color: #F3F4F6;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

button:hover{
    transform: scale(1.03);
}

.list-container{
    height: calc(100vh - 80px);
    width: 70%;
    margin: 50px auto 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, 330px);
    gap: 20px;
    justify-content: center;
    overflow-y: scroll;
    scrollbar-width: none;
    
}
.card{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #6366F1;
    border-radius: 10px;
    color: #F3F4F6;
}
.card-header{
    height: 450px;
    overflow: hidden;
}

.card-header img{
    width: 100%;
}

.card-body{
    padding: 10px

}

.card-body h3{
    text-transform: capitalize;
    font-size: 22px;
    margin-bottom: 10px;
}
.card-body .price{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
.card-body .description{
    font-size: 18px;
}
.card-footer{
    display: flex;
    justify-content: end;
    padding: 10px;
}




.blur{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: rgba(128, 128, 128, 0.486);
}

.cart{
    position: absolute;
    z-index: 11;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    background-color: #6366F1;
    padding: 15px;
    border-radius: 10px;
}



.cart-header{
    color: #F3F4F6;
    font-size: 25px;
    margin-bottom: 10px;
}

.cart-items{
    margin-bottom: 20px;
}
                
.cart-items .item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    color: #F3F4F6;
    box-shadow: 0 0 2px #F3F4F6;
    margin-bottom: 7px;
    padding: 10px 15px;
    
}
.cart-items .item .item-name{

}

.cart-items .item .item-action{
    display: flex;
    gap: 10px;
    align-items: center;

}

.cart-items .item .item-action button{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-total{
    color: #F3F4F6;
    font-size: 18px;
    display: flex;
    justify-content: end;
    margin-bottom: 10px;
}

.cart-footer{
    display: flex;
    justify-content: end;
}